#section-chiffres {
  img { width: auto; }
  .row { margin: 80px 0; }
  div, span, p { font-family: 'Lato'; }

  h2 {
    @include fs(46); font-weight: 300; text-align: center; position: relative;
    &:before, &:after { content: ''; width: 183px; height: 1px; background-color: #737373; position: absolute; }
    &:before { left: 215px; top: 24px; }
    &:after { right: 210px; top: 24px;  }
  }

  .withbg {
    text-transform: uppercase; display: inline-block; color: #FFF;
    span { padding: 2px 25px; }
  }

  .big { color: #2eb7b8; text-transform: uppercase; @include fs(64.89); margin: 13px 0 2px; font-weight: 700; }
  .med { color: #728c95; @include fs(26.4); margin: 10px 0 10px;  }
  .small { color: #2eb7b8; @include fs(18); text-transform: uppercase; }

  .std-row {
    .left, .right { display: inline-block; vertical-align: top; width: 50%; text-align: center }
    img { display: inline-block; }
  }
}

#ca {
  text-align: center;
  .left, .right { display: inline-block; }
  .left { width: 563px; }
  .right { width: 437px; }
  .bigger { @include fs(110); font-weight: 300; color: #eb6d82; margin-bottom: 23px; }
  .withbg {
    @include fs(36.27); font-weight: 300;
    span { background-color: #eb6c81; }
    span.bold { font-weight: 700; }
  }
}



